/* Navbar.css */
.navbar-main{
    padding-top: 14px;
    padding-bottom: 14px; 
    font-family: 'Merriweather', serif; /* Use Merriweather for the title */
    background-color: white;

}
.navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .links{
    display: inline-block;
  }
  
  ul {
    list-style: none;
    display: flex;
  }
  
  li {
    cursor: pointer;
    font-size: 13px;
    margin-left: 3em;
    margin-right: 3em;
    transition: 1sm linear;
  }

  li:hover{
    color:  #d2b7b7 ;
  }
  
  .cart {
    list-style: none;
    width: 40px;
  }
  
  .logo {
    font-size: 1.4em;
    font-weight: bold;
    letter-spacing: 1px;
  }

  .logo h1{
    font-family: 'Sevillana', serif;
    font-weight: 700;
    letter-spacing: initial;
    box-shadow: 10px 10px 10px white;
    font-size: 30px;
  }
  