body{
    background-color:  white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #000000d9;

    /*font-family: 'Playfair Display', serif;  Use Playfair Display for the title */
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
}

